.DS_Store
*.csproj
*.meta
*.asset

Sample/Unity\ Sample\ Application/Assets/Vungle.meta
Sample/Unity\ Sample\ Application/Assets/Vungle/
Sample/Unity Sample Application/Assets/CharlesProxy.meta
Sample/Unity\ Sample\ Application/Assets/CharlesProxy/