.DS_Store
*.csproj
*.meta
*.asset
ProjectVersion.txt
manifest.json

Sample/Unity\ Sample\ Application/ProjectSettings/
Sample/Unity\ Sample\ Application/UnityPackageManager/
Sample/Unity\ Sample\ Application/Assets/
Sample/Unity\ Sample\ Application/Packages/